
body{
	padding-top: 120px;

	&.home {
		padding-top: 0;
	}

	// background: url(../images/screenshots/Aevitas_0000_Home.jpg) center 7px no-repeat;
}


/* Mixins */
#wpadminbar {
	top: auto;
	bottom: 0;
}

.content_inner {
	.no-touch & {
		position: relative;
		top: 50%;
		-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,-30%,0);
		transform: translate3d(0,-30%,0);

		.blog_content &{
			padding-bottom: 0px;
		}

		
	}
	.no-touch .css-hover-vertical:hover & {
		opacity: 1;
		-webkit-transform: translate3d(0,-50%,0);
		transform: translate3d(0,-50%,0);
	}
}

.vertical(@size){
	.no-touch & {
		background: rgba(53,58,61,0);

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		padding: 2em;

		text-align: center;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;

		.transition(background 0.35s);

		&::before,&::after {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}

		&::before {
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
		}

		&::after {
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			-webkit-transform: scale(1,0);
		}

	}

	.touch & {
		background: rgba(53,58,61,1);
		padding: 20px 15px;
	}

	.no-touch .css-hover-vertical:hover & {
		background: rgba(53,58,61,0.90);
	}

  	.no-touch .css-hover-vertical:hover &::before, .no-touch .css-hover-vertical:hover &::after{
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
  	}

  	.no-touch .css-vertical &::before, .no-touch .css-vertical &::after{
  		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
  	}

  	.no-touch .css-vertical & {
		background: rgba(53,58,61,0.79);
	}



}

.fancy_social {
	li {
		font-size: 14px;
		a {
			color: #fff;
			&:hover,&:focus {
				color: @blue-gray;
			}
		}
	}
}

.css-hover-vertical:hover {
	
}


.hover_link() {
	
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	width: 100%;
	height: 100%;

	z-index: 200;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.section_spacing(@space:0px) {
	margin-bottom: @space;
}

.section_title {
	text-transform: uppercase;

	font-weight: 100;
	font-size: ceil((@font-size-base * 1.45)); // ~20px

	letter-spacing: 0.25em;

	line-height: 100% * (40px / 20px);

	color: @heading_color;
}

.section_heading {
	text-align: center;
	margin-bottom: 50px;
}

.lead-text(@font-size:@font-size-base) {
	font-weight: 100;
	font-size: ceil((@font-size * 1.33)); // ~20px

	line-height: 100% * (30px / 20px);

	margin-bottom: 25px;
}

.heading-typo {
	color: #fff;
	text-transform: uppercase;

	font-weight: 200;
	font-size: floor(@font-size-base*1.15);
}

.meta-typo(@font-size:@font-size-small,@color:@gray) {
	color: @color;
	letter-spacing: 0.1em;
	font-weight: 300;
	font-size: @font-size;

	a {
		color: @gray;
		&:hover {
			color: @gray-darker;
			text-decoration: none;
		}
	}
}

.btn-standard {
	.btn();

	font-weight: 100;
	text-transform: uppercase;

	background: transparent;
	border-color: @btn-standard;
	color:  @btn-standard-hover;

	min-width: 170px;	
	padding-top:10px;
	padding-bottom: 10px;

	.transition(0.8s);

	&:hover,&:focus {
		border-color:  @btn-standard-hover;
		background: @btn-standard-hover;
		color:#fff;

	}	

	&:focus {
		outline: none!important;
	}
}

.menu-btn {
	.btn();
	font-size: @font-size-small;
	font-weight: 100;
	text-transform: uppercase;

	background: transparent;
	border: 1px solid transparent;
	color: @blue-gray;

	min-width: 170px;	
	padding-top:10px;
	padding-bottom: 10px;

	.transition(0.8s);

	&:hover,&:focus {
		border: 1px solid @blue-gray;
		background: transparent;

	}	

	&:focus {
		outline: none!important;
	}
}

hr.section_break {
	padding-bottom: 25px;
	padding-top: 25px;
	border-top:none;
	border-bottom: 1px solid @gray-light;
}

hr.section_break_blank {
	padding-bottom: 25px;
	padding-top: 25px;
	border-top:none;
	border-bottom: none;
}

/* Body */

.header {
	padding: 10px 0;
	border:none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1050;

	background: rgba(255,255,255,1);

	@media(min-width:@screen-sm-min) {
		background: rgba(255,255,255,0.8);
	}

	overflow: hidden;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	transition: 0.5s linear;

	&.css-header-shrink {
		background: rgba(255,255,255,1);
	}

	.logo {
		img {
			max-width: 240px;
			float:left;
			@media(min-width:@screen-sm-min) {
				max-width: 100%;
				float: none;
			}
		}
	}
}

.navbar {
	margin-bottom: 0px;
}

.navbar-nav {

	margin-top: 15px;

	li {

		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		letter-spacing: 0.1em;

		a {
			font-size: @font-size-base;
			color: #333;

			font-weight: 100;
			text-transform: uppercase;

			padding-top: 0;
			padding-bottom: 5px;
			padding-left: 0;
			padding-right: 0;

			border-bottom: 1px solid transparent;

			&:hover, &:focus {
				color: @gray;
				text-decoration: none;
				border-bottom: 1px solid @blue-gray;

				background: transparent;
			}
		}
		@media(min-width:@screen-sm-min) {
			&:first-child {
				padding-left: 0px;
			}
		}

		&:last-child {
			padding-right: 0px;
		}
	}

}

.secondary_nav {
	.meta-typo(12px);

	.list-inline();

	margin: 10px 0;

	> li {
		padding-left: 0;
		padding-right: 0;
	}

	>li+li:before {
		padding: 0px 5px;
		@media(min-width:@screen-sm-min) {
			padding: 0 11px 0px 8px;
		}
		color: @gray;
		content: "\2022";
	}

	> li:last-child:after {
		padding: 0 8px 0px 8px;
		color: @gray;
		content: "\2022";
	}
}

/* Home */
.home-slider{
	.section_spacing(20px)
}

/* Gallery */

.section_gallery {
	.section_spacing(65px);
}

.gallery_image {
	position: relative;
}

.gallery_content {
	.vertical(25px);

	.content_inner--title {
		font-size: 30px;


		> span {
			border-bottom: 1px solid @gray;
			padding-bottom: 8px;
		}


	}
}

.gallery_article--link {
	.hover_link();
}

.slick-slider{
	.home &{
		margin-bottom: 0px;
	}
	.page-template-template-albums &{
		margin-bottom: 80px;
	}
	.page-template-template-albums .child_row &{
		margin-bottom: 35px;
	}
}
.slick-dots {
	left: 0;
	right: 0;
}

/* Reviews */

.section_testimonial {
	.section_spacing();
	display:none;
	@media(min-width:@screen-md-min) {
		display: block;
	}
}

.section_review--heading {
	.section_heading();
}

.section_review--title {
	.section_title();
}



.testimonial_image {
	position: relative;
	img {
		width: 100%;
	}
}

.testimonial_content {
	.vertical(25px);

	.content_inner {
		  z-index: 200;
		  margin: 0 auto;
		  width: 85%;
	}

	color: #fff;

	opacity: 0;
	-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);

	.blog_content & {
		padding-top: 15%;
		padding-bottom: 0px;
	}

	.css-hover-vertical:hover & {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

}

.testimonial_content--blockquote {
	text-align: center;
	padding: 10px 20px;
	margin: 0 0 20px;
	border-left: none;
	p {
		.lead-text(13px);
	}
}

.testimonial_content--author {
	.meta-typo(@font-size-small,#fdfdfd);

	 font-style: normal;
 	text-transform: uppercase;
}

.testimonial_content--link {
	.btn-standard();

	color:#fff;

	margin-top: 35px;	
}

/* Blog */

.section_blog {
	.section_spacing();
}

.section_blog--heading{
	.section_heading();
}

.section_blog--title {
	.section_title();
}

.blog_row {
	.make-row();
	margin-bottom: 0px;
	.blog_article {
		.make-md-column(4);
	}
}

.blog_nav {
	text-align: center;
	margin-top: 30px;
}

.blog_nav--btn {
	.btn-standard();
}

.blog_image {
	position: relative;
	margin-bottom: 30px;
	.home &{
		margin-bottom: 0px;
	}
}

.blog_content {
	.vertical(15px);

}

.blog_article--link {
	.hover_link();
}


.content_inner--title {

	.heading-typo();
	
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 0px;
	margin-top: 0px;

	
	.no-touch & {
		opacity: 0;
		position: relative;
		top: 50%;
		-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,-30%,0);
		transform: translate3d(0,-30%,0);
	}


	.no-touch .css-hover-vertical:hover &, {
		opacity: 1;
		-webkit-transform: translate3d(0,-50%,0);
		transform: translate3d(0,-50%,0);
	}

	.touch & {
		margin-bottom: 0px;
	}


	

}

.content_meta {
	.meta-typo(@font-size-small,#fdfdfd);


	.list-inline();
	> li {
		padding-left: 0;
		padding-right: 0;
	}

	>li+li:before {
		padding: 0 5px;
		color: @gray;
		content: "\2022";
	}

	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);

	.css-hover-vertical:hover &,.touch &,.css-slider-hover:hover & {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	
	}
}

/* About */

.section_about {
	.section_spacing();
}

.about_content--title {
	.section_title();
}

.about_content {
	.text-center();
	max-width: 85%;
	margin: auto;
	> p {
		.lead-text();
	}
}

.about_content--title {
	.section_heading()
}

.about_content--btn {
	.btn-standard();
}


/* Work */
.section_work {
	.page-template-template-helpful &,
	.single &{
		.section_spacing(60px;);
		.section_break{
			display: none;
		}
	}
}

.section_work--title {
	.section_title();
}

.work_image {
	.section_heading();
}

.section_work--heading {
	.section_heading()
}

.work_filter {
	border-top: none;
	margin-bottom: 0px;
	padding-top: 0px;
	.page-template-template-blog &{
		margin-bottom: 40px;
		padding-top: 40px;
	}
	.css-dropdown {
		.menu-btn();

		text-align: left;

	}
	.dropdown-menu {
		min-width: 100%;
		margin: 0;
		border-color: @blue-gray;
		padding: 0;
		> li {
			a {
				padding-top: 8px;
				padding-bottom: 8px;
				color: @blue-gray;
				&:hover {
					background: @blue-gray;
					color:#fff;
				}
			}
		}
	}
}

.filters {
	.btn {
		font-size: @font-size-small;
		font-weight: 100;
		text-transform: uppercase;

		background: @blue-gray;
		border: 1px solid transparent;
		color: #fff;

		min-width: 170px;	
		padding-top:10px;
		padding-bottom: 10px;

		margin-right: 10px;
		margin-bottom: 10px;



		.transition(0.8s);

		&:hover,&:focus {
			border: 1px solid @blue-gray;
			background: transparent;
			color: @blue-gray;

		}	

		&:focus {
			outline: none!important;
		}
	}
}

.filter_submit {
	margin-top: 40px;
	text-align: center;
}

.filter_list {
	.clearfix();
	padding: 0;
	> li {
		@media(min-width:@screen-md-min) {
			float: left;
			width: 16.667%;
		}
		list-style: none;

		&:last-child {
			.selectize-input {
				&.focus {

				}
			}
		}

		.optgroup-header {
			font-weight: 700;
			color: #333;
			padding-left: 15px;
		}

		.selectize-dropdown {
			min-width: 400px;
		}
		.selectize-dropdown-content {
			max-height:330px;
		}
		.selectize-dropdown [data-selectable] {
			padding-left: 35px;
		}
	}
}

.submit_button {
	.btn-standard();
}

/* Info Section */

.section_info {
	.section_spacing(60px;);
	.page-template-template-helpful &{
		.section_spacing(0px;);
	}
}

.section_info--title {
	.section_title();
}

.section_info--heading{
	text-align: center;
	margin-bottom: 35px;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	> p {
		.lead-text();
	}
}

.section_info--title {
	margin-bottom: 35px;
}

.section_info{
	.section_break{
		display: none;
		.page-template-template-helpful & {
			display: block;
		}
	}
}

.section_inquire {
	margin: 35px 0;
	text-align: center;
}
.section_inquire--btn {
	.btn-standard();
	
	text-align: center;
}

.info_row {
	.make-row();
	.info_article {
		.make-md-column(4);
	}

	.css-parent-page & {
		.info_article {
			.make-md-column(4);
		}
	}
}

.info_image {
	position: relative;
}

.info_content {
	.vertical(5px);
}

.info_article {
	margin-bottom: 30px;
}

.info_article--link {
	.hover_link();
}


/* Portfolio */

.section_page {
	.section_spacing();
}

.page_content {
	.text-center();
	margin: auto;
	> p {
		.lead-text();
	}
}

.page_image {
	.section_spacing(35px);
}

.page_content--title {
	.section_title();
	margin-bottom: 35px;
	text-align: center;
}

 
.section_blog {
	.section_spacing();
}

.section_blog--heading{
	.section_heading();
}

.section_blog--title {
	.section_title();
}

.portfolio_row {
	.make-row();
	margin-bottom: 0px;
	.portfolio_article {
		.make-md-column(6);
		margin-bottom: 30px;
	}
}

.portfolio_image {
	position: relative;
}

.portfolio_content {
	.vertical(15px);

	.content_inner--title {
		font-size: 22px;
	}
}

.portfolio_article--link {
	.hover_link();
}

.portfolio_nav {
	text-align: center;
}

.portfolio_nav--btn {
	.btn-standard();
}

/*Details */

.details_row {
	.make-row();
	margin-bottom: 0px;
	.details_article {
		.make-md-column(6);
		margin-bottom: 30px;
	}
}

.details_image {
	position: relative;
}

.details_content {
	.vertical(15px);
}

.details_article--link {
	.hover_link();
}

.details_nav {
	text-align: center;
}

.details_nav--btn {
	.btn-standard();
}

/* Child Pages */

.child_article {
	padding-bottom: 70px;
	margin-bottom: 70px;
	border-bottom: 1px solid @gray-light;
	.page-template-template-albums &:last-child{
		border-bottom: none;
		margin-bottom: 0px;
	}
}

.child_title {

	font-size: @font-size-large;
	color: @title;
	text-transform: uppercase;
	margin-bottom: 40px;
	.page-template-template-albums &{
		font-size: 20px;
	}
	.text-center();
}

.child_image {
	margin-bottom: 40px;
}

.child_content {
	.text-center();
	max-width: 85%;
	margin: auto;
	> p {
		.lead-text();
		font-weight: 300;
	}
}

.child_slider {
	.section_spacing(35px);
	.slide_image img{
		max-height: 800px;
		width:auto;
	}
	
	.slick-prev:before, .slick-next:before {
		color: @blue-gray;
	}
	.slick-prev:hover,
	.slick-next:hover{
		&::before{
			color: #fff;
		}
	}
}

.slide_image {
	padding: 0 2px;
	background: #fff;
	img {
		margin: auto;
		max-height: 800px;
		width:auto;
	}
}

.post_slider {
	.owl-theme .owl-controls .owl-buttons div {
		top: 35px;
		bottom: 35px;
		> span {
			margin-top:-45px;
		}
	}
}

.ias-trigger{
	margin-top: 30px;
}

.grid_footer--btn {
	.btn-standard();
}


.includes_title {
	font-size: 15px;
	color: #52575a;
	font-weight: 100;
	text-transform: uppercase;
	.page-template-template-albums &{
		font-weight: 400;
		font-size: 16px;
	}
}

.includes_list {
	.list-unstyled();

	> li {
		border-left: 1px solid #e9e9e9;
		border-right: 1px solid #e9e9e9;
		border-top: 1px solid #e9e9e9;
		padding: 20px;

		&:last-child {
			border-bottom: 1px solid #e9e9e9;
		}
	}
}

/* Story */

.story_row {
	.make-row();
	margin-bottom: 30px;
	.story_article {
		.make-md-column(6);
		margin-bottom: 30px;
	}
}

.story_image {
	position: relative;
}

.story_content {
	.vertical(15px);
}

.story-header_image {
	.section_spacing(45px);
}

.story_article--link {
	.hover_link();
}

.story_nav {
	text-align: center;
}

.story_nav--btn {
	.btn-standard();
}

/* Story Single */

.section_story-related--heading {
	.section_heading();
}

.section_story-related--title {
	.section_title();
}

.story-related_row {
	.make-row();
	margin-bottom: 45px;
	.story-related_article {
		.make-md-column(12);
		margin-bottom: 30px;
	}
}

.story-related_image {
	position: relative;
}

.story-related_content {
	.vertical(15px);

	.content_inner--title {
		font-size: 40px;
	}
}

.story-related_article--link {
	.hover_link();
}

.story-related_nav {
	text-align: center;
}

.story-related_nav--btn {
	.btn-standard();
}

/* Vendor Single */

.section_vendor-related--heading {
	.section_heading();
}

.section_vendor-related--title {
	.section_title();
}

.vendor-related_row {
	.make-row();
	margin-bottom: 45px;
	.vendor-related_article {
		.make-md-column(4);
		margin-bottom: 30px;
	}
}

.vendor-related_image {
	position: relative;
}

.vendor-related_content {
	.vertical(15px);

}

.vendor-related_article--link {
	.hover_link();
}

.vendor-related_nav {
	text-align: center;
}

.vendor-related_nav--btn {
	.btn-standard();
}

/* Single */

.post_header {
	margin-top: 90px;
	margin-bottom: 60px;
	text-align: center;
}

.post-header_image {
	margin-bottom: 60px;
}

.post_header--title {
	font-weight: 400;
	font-size: 2em;
	color: #3a3e40;
	text-transform: uppercase;
	margin-bottom: 25px;

}

.post_meta {
	.meta-typo();

	.list-inline();

	font-size: @font-size-base;
	
	margin: 0;


	> li {
		padding-left: 0;
		padding-right: 0;
	}

	>li+li:before {
		padding: 0 5px;
		color: @gray;
		content: "\2022";
	}
}

.wp-caption {
	position: relative;
	> .wp-caption-text {
		position: absolute;
		bottom: 0;
		left:0;
		right: 0;
		padding: 20px;
		color: #fff;
		background: rgba(53,58,61,0.79);
		margin-bottom: 0!important;
		opacity: 0;
		.transition(.8s);
	}
	&:hover {
		> .wp-caption-text {
			opacity: 1;
		}
	}
}

.post_video--heading {
	text-align: center;
  	margin-bottom: 50px;
}

.post_video--title {
	.section_title();
} 

.post_content {
	margin: auto;
	p {
		.lead-text(13px);
		margin-bottom: 25px;
	}
	img {
		.img-responsive();
	}
}

.post_entry {
	text-align: justify;
	
	img {
		margin-bottom: 25px;
		+ img {
			margin-bottom: 0;
		}
		margin-left: auto;
		margin-right: auto;
	}

}

.post_providers {
	text-align: center;
	// padding-bottom: 55px;
	// margin-bottom: 55px;
	// border-bottom: 1px solid @gray-light;
	#sp-container {
		padding-top: 21px;
		.sp-title {
			.section_title();
			padding-bottom: 40px;
		}
		.sp-list {
			.meta-typo(13px);
			.list-unstyled();
			margin-bottom: 0px;
			.sp-list-item {
				padding: 5px 0;
				> a {
					color: #52575a;

					&:hover {
						color: @gray;
					}
				}
			}
		}
	}
}

.post_social {
	// padding-bottom: 60px;
  	// margin-bottom: 55px;
  	// border-bottom: 1px solid @gray-light;
}

.social_header {
	margin-bottom: 40px;
	text-align: center;
}

.social_header--title {
	.section_title();
}

.social_options {
	text-align: center;
}

.social_buttons {
	.list-inline();
}

.social_button--btn {
	.btn-standard();

	padding-left:20px;
	padding-right: 20px;

	.fa {
		font-size: 1.2em;
		margin-right: 10px;
	}
	&.css-facebook {
		&:hover {
			background: #3b5998;
			border-color: #3b5998;
		}
	}
	&.css-twitter {
		&:hover {
			background: #00aced;
			border-color: #00aced;
		}
	}
	&.css-pinterest {
		&:hover {
			background: #cb2027;
			border-color: #cb2027;
		}
	}
}

/* Comments */

.post_comments {
  	margin-bottom: 55px;
}

.comments_header {
	margin-bottom: 40px;
	text-align: center;
}

.comments_header--title {
	.section_title();
}



/* FAQ */

.page-template-template-faq {
	.post_content {
		.section_break {
			display: none;
		}
	}
}

.faq_filter {
	border-top: 1px solid @gray-light;
	margin-bottom: 40px;
	.btn {
		.menu-btn();

	}
	.dropdown-menu {
		margin: -1px 0 0 0;
		border-color: @blue-gray;
		min-width: 100%;
		padding: 0;
		> li {
			a {
				padding-top: 8px;
				padding-bottom: 8px;
				color: @blue-gray;
				font-weight: 100;
				&:hover {
					background: @blue-gray;
					color:#fff;
				}
			}
		}
	}
}

.faq_content {
	max-width: 85%;
	margin: auto;
	p {
		font-size: @font-size-base;

		margin-bottom: 25px;
		font-weight: 300;

		color: @gray-dark;
	}

	.panel-group {
		height: auto!important;
	}

	.panel-group .panel+.panel{
		margin-top: -1px;
	}

	.panel {
		width: 100%;
		 min-height: 0px !important;
	    position: static !important;
	    transform: translate3d(0px, 0px, 0px) !important;
	    box-shadow: none;
	}

	.panel-heading {
		padding: 20px 20px 15px;
		background: #fff;
	}

	.panel-title {

		text-align: center;
		font-size: @font-size-base;
		font-weight: 400;
		text-transform: uppercase;
		color: @title;
		line-height: 1.4;

		padding: 0;

		> a {
			padding-bottom: 5px;
			display: block;
			&:hover {
				text-decoration: none;
				span {
					border-bottom: 1px solid @title;
				}
			}
		}

	}

	.panel-body {
		background: #f9f9f9;
	}
}

.footer  {
	padding: 40px 0;
	background: @blue-gray;
}

.foot_item {
	a {
		color: #d7d7d7;
	}
}

.foot_item--social {
	font-size: 1.5em;
}

.footer_attribution {
	color: #d7d7d7;
	font-size: @font-size-small;
	font-weight: 300;
	a {
		color: @gray;
	}
}

/* Archive */

.archive .section_search {
	margin-top: 45px;
}

.pswp__container { transition: transform 0.35s ease-in-out; }

.aev-search {
    position: relative;
    z-index: 100000;
    float: right;
    width: 64px;
    height: 34px;
}

.aev-search-input-wrap {
    position: absolute;
    right: 66px;
    width: 335px;
    height: 34px;
    opacity: 0;
    pointer-events: none;
    margin: 1px 0;
}

.aev-search.aev-search-open .aev-search-input-wrap {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.aev-container .ct-search-input-wrap > span {
    width: 100% !important;
}

.aev-container .tt-dropdown-menu {
    border: none;
    border-radius: 0px;
}

.aev-icon-search,
input[type="submit"].aev-search-submit {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 64px !important;
    height: 34px;
    text-align: left;
    line-height: 19px;
    cursor: pointer;
    .meta-typo(12px);
    margin: 9px 0;
}

.aev-icon-search {
    z-index: 90;
    font-family: @font-family-sans-serif;
    color: @gray;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    &.fa:before {
    	margin-right: 5px;
    	font: normal normal normal 14px/1 FontAwesome;
    }
}

.aev-search.aev-search-open .aev-icon-search {
    z-index: 1;
    pointer-events: none;
}

input[type="submit"].aev-search-submit {
    z-index: -1;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: transparent;
}

.aev-search.aev-search-open input[type="submit"].aev-search-submit {
    z-index: 100
}

input[type="text"].aev-search-input,
input[type="text"].tt-hint {
    margin: 0;
    padding: 2px 7px;
    width: 335px;
    height: 34px;
    outline: none;
    border: none;
    background: #fff;
    font-family: inherit;
    font-weight: 300;
    opacity: 0;
    font-size: @font-size-small;
    .transition(.8s);
}

.aev-search.aev-search-open input[type="text"].aev-search-input {
    opacity: 1
}


.item_gallery {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  height: 100%;
  width:100%;
}

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */
.owl-controls{
	.home &{
		margin-top: 0px;
	}
	&.clickable{
		.owl-buttons{
			div:hover{
				color: #fff;
			}
		}
	}
}



.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}


.item_caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	background: rgba(53,58,61,0.85);
	padding: 1em;
	width: 100%;
	opacity: 1;

	.item_caption--title {
		.heading-typo();
		text-align: center;
		margin:0;
		@media(min-width:@screen-sm-min) {
			font-size: 32px;
		}

	}

}

.item_caption--link {
	.hover_link();
}

.css-full-screen-link {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #fff;
  font-size: 1.2em;
}

.fancybox-title-outside-wrap {
	text-align: center;
	>span {
		font-size: @font-size-base;
		font-family: @font-family-sans-serif;
	}
}

.fancy_social {
	margin: 10px;
}
.fancy_social li a {
	padding: 5px 10px;
}  
