/* Main Grid Less File
/* v 1.0.0
/* since v 1.0.0 */


// Home
.container_home,
.grid_content{
	.make-row();
}

.container_home {
	margin-top: 35px;
}

.container-narrow {
  .container-fixed();

  @media (min-width: @screen-lg-min) {
    width: @container-md;
  }
}


.main_grid{
	.make-md-column(8);
	//.make-md-column(6);
	//.make-md-column-offset(1);
	//Changes for smaller grid on home
	.grid_article{
		.make-md-column(4);
	}
}


.main_sidebar{
	.make-md-column(4);
}

// Single
.container_single{
	.make-row();
	.main_single{
		.make-md-column(8);
	}
	margin-top: 35px;
}


// Grid Header

.grid_header {
	.header();
}

.grid_header--title {
	.header-inner();
}

.grid_header--hr {
	.hr();
}

.grid_footer {
	position: relative;
	text-align: center;
}

.grid_footer--btn {
	.btn();
	.btn-default();
	&:before {
		border-top: 1px solid @border-color;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
	}
}