#grid {
    
    /* Consult http://gridulator.com for viable grids */
    @totalColumns: 12;
    @siteWidth: 1140px;
    @margin:	3px;
 
    .columns(@columnNumber, @float:left) {
        display: inline;
        float: @float;
        margin-right: @margin;
        margin-bottom: @margin;
     //   width: ((((@siteWidth / @totalColumns) * @columnNumber) - (@margin)) - @margin )/@siteWidth*100%;
        width: 100%;
        &:last-child {
        	margin-right: 0;
        }

        @media(min-width:@screen-xs-min) {
        	@siteWidth: 480px;
        	width: ((@siteWidth - (@margin*(@columnNumber + (-1))))/@columnNumber)/@siteWidth*100%;
        }

        @media(min-width:@screen-sm-min) {
        	@siteWidth: 720px;
        	width: ((@siteWidth - (@margin*(@columnNumber + (-1))))/@columnNumber)/@siteWidth*100%;
        }

        @media(min-width:@screen-md-min) {
        	@siteWidth: 617px;
        	width: ((@siteWidth - (@margin*(@columnNumber + (-1))))/@columnNumber)/@siteWidth*100%;
        }

        @media(min-width:@screen-lg-min) {
        	@siteWidth: 750px;
        	width: ((@siteWidth - (@margin*(@columnNumber + (-1))))/@columnNumber)/@siteWidth*100%;
        }

    }
}

:focus {
	outline: none;
}
.colfw {
	#grid .columns(4);
	img {
		.img-responsive();
	}
}

.imagewrapper_3 {
	#grid .columns(3);

	position: relative;
	img {
		.img-responsive();
	}
}

.two-column-content .imagewrapper {
	#grid .columns(2);

	img {
		.img-responsive();
	}
}

.fwtextwrapper {
	padding: 35px 0;
	.text {
		margin-bottom: 15px;
	}
}

.imagewrapper {
	img {
		.img-responsive();
	}
}

.text{
	font-family: @font-family-serif;
}

.fwtextwrapper,.centered-content {
	.text {
		text-align: justify;
		margin-bottom: 15px;

	}
	.title {
		font-weight: 700;
	}
}

.centered-content {
	text-align: justify;
	margin-bottom: 15px;
	font-family: @font-family-serif;
}

.centered-content {
	margin-top: 35px;
}

.col-1 {
	.col {
		#grid .columns(1);
		img {
			.img-responsive();
		}
	}
}

.col-2 {
	.col {
		#grid .columns(2);
		img {
			.img-responsive();
		}
	}
}

.col-3 {
	.col {
		#grid .columns(3);
		img {
			.img-responsive();
		}
	}
}

.col-4 {
	.col {
		#grid .columns(4);
		img {
			.img-responsive();
		}
	}
}

#ingredients.tab-pane {
	display: block;
	visibility: visible;

}

#steps.tab-pane {
	.round-steps.step-control {
		display: none;
	}
	display: block;
	visibility: visible;
	display: block;
	
}

.textwrapper.textleft {
  margin-bottom: 25px;
}


.quote-wrapper .quote {

	margin: 0 -21px 21px;
	border-left: 2px solid #333;
	font-family: 'Playfair Display',Georgia,'Times New Roman',Times,serif;
	font-style: italic;


	margin-top: 35px;
	margin-bottom: 35px;
}

h4.title + hr{
	display: none;
}

